<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKSharingSupported</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.mobilove.snapday.create_day</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to help you invite others to collaborate. This allows you to easily select people from your address book and send them invitations to join your projects or teams. Your contacts will only be used for this purpose and will not be shared with anyone else.</string>
</dict>
</plist>
